/* Calendar Styles
-----------------------------------------------------------------------------------------------------*/
 
/* Defaults */
 
 
#adminCalendarWrap { width:100%; background-color:#FFF; }
#adminCalendarWrap .fc-header { background: #DFE3EA; border:1px solid #999; } /* Header background color */
#adminCalendarWrap .fc-header .fc-state-default, #adminCalendarWrap .fc-header .ui-state-default { border-color:#333; }
 
#adminCalendarWrap .fc-header .fc-state-default {
	/*background:url(/src/Modules/Calendar/Assets/img/calendarBtnBack.png) repeat-x top #E7E8EC; */
	color:#333; 
	/*-moz-box-shadow:inset 2px 0px 0px rgba(255,255,255,0.4);
	-webkit-box-shadow:inset 1px 1px 0px rgba(255,255,255,0.4);
	box-shadow:inset 2px 0px 0px rgba(255,255,255,0.4);
	text-shadow:1px 1px 0px rgba(255,255,255,0.4);*/
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px; 
} /* Button Style */
 
#adminCalendarWrap .fc-header .fc-state-default span:hover { background:#E7E8EC; }
#adminCalendarWrap .fc-header .fc-state-default, #adminCalendarWrap .fc-header .fc-state-default a { border-color:#B3B4B7; }
#adminCalendarWrap .fc-header .fc-state-active span { background:#E7E8EC; }
#adminCalendarWrap .fc-header .fc-state-disabled span { background:#E7E8EC; }
#adminCalendarWrap .fc-header .fc-state-disabled, #adminCalendarWrap .fc-header .fc-state-disabled a { border-color:#B3B4B7; }
 
#adminCalendarWrap #leftColAdmin { background-color:#F2F3F7; width:14%; } /* Left Col Background Color and Width */
#adminCalendarWrap #leftColAdmin p { color:#758192; }
 
#adminCalendarWrap #centreCol { width:78%; } /* Centre Col Width */
 
#adminCalendarWrap .calendarsListItem { border-bottom:1px dotted #C6CBD3; } 
#adminCalendarWrap .fc-content .fc-state-highlight {	background-color:#DFE3EA; } /* Hightlight Color */
 
.ui-dialog { border:2px solid #B3B4B7 !important; }
.ui-widget-header {
    /*background:url(/src/Modules/Calendar/Assets/img/calendarBtnBack.png) repeat-x top #E7E8EC !important; */
    color:#333 !important; 
    -moz-box-shadow:inset 2px 0px 0px rgba(255,255,255,0.4);
    -webkit-box-shadow:inset 1px 1px 0px rgba(255,255,255,0.4);
    box-shadow:inset 2px 0px 0px rgba(255,255,255,0.4);
    text-shadow:1px 1px 0px rgba(255,255,255,0.4);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

/**
========
Fonts
========
*/
@font-face {
	font-family: 'kcal-admin';
	src:url('../fonts/kcal-admin.eot?cn6fd5');
	src:url('../fonts/kcal-admin.eot?cn6fd5#iefix') format('embedded-opentype'),
		url('../fonts/kcal-admin.ttf?cn6fd5') format('truetype'),
		url('../fonts/kcal-admin.woff?cn6fd5') format('woff'),
		url('../fonts/kcal-admin.svg?cn6fd5#kcal-admin') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="kicon-"], [class*=" kicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'kcal-admin' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.kicon-pencil2:before {
	content: "\e900";
}
.kicon-bin:before {
	content: "\e901";
}
 
/* Stuff to change per project */
 
 
/* Main Structure Styles - don't really need to touch this */
 
#adminCalendarWrap {
	float:left;
	position:relative;
}
 
#adminCalendarWrap .fc-header {
	position:absolute;
	top:0px;
	left:0px;
	padding:10px;
	width:100%;
}
 
#adminCalendarWrap .fc-header tr td { padding:10px 10px 8px 10px; }
#adminCalendarWrap .fc-header tr td table tr td{ padding:0px; }
.fc-header-right .fc-state-default{margin-right:5px}
 
#adminCalendarWrap .fc-header .fc-state-default, #adminCalendarWrap .fc-header .ui-state-default { margin-bottom:0px; }
 
#adminCalendarWrap .fc-header .fc-state-default{
	font-size:11px;	
	border:none;
	padding:5px 7px;
}
 
#adminCalendarWrap .fc-header-space { padding-left:5px; }  
 
#adminCalendarWrap #leftColAdmin {
	float:left;
	border-right:1px solid #999;
	border-left:1px solid #999;
	border-bottom:1px solid #999;
	bottom:0px;
	top:0px;
	position:absolute;
	padding:20px;
	font-size:11px;
	margin-top:40px;
	overflow:scroll;
}
 
#calsList { list-style:none; margin:5px 0px 10px 0px; }
 
#adminCalendarWrap #leftColAdmin p {
	text-transform:uppercase;
	font-size:10px;
	font-weight:bold;
	margin-top:15px;
}
 
#adminCalendarWrap #leftColAdmin form {
	margin-top:5px;
}
 
#adminCalendarWrap .calendarsListItem {
	padding:5px 0px;
        position:relative;
}
#adminCalendarWrap .calendarsListItem input[type="checkbox"]{
        position: absolute;
        margin-top: 3px;
}
#adminCalendarWrap .calendarsListItem label{
        position: relative;
        margin-left: 20px;
        display:inline-block;
}
#adminCalendarWrap a#calendar-new{
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #f8f8f8;
    padding: 5px;
    text-decoration: none;
    font-size: 12px;
    color: #333333;
}
 
#adminCalendarWrap #centreCol {
	padding:20px;
	background-color:#FFF;
	float:right;
	margin-top:35px;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
}
 
#adminCalendarWrap .fc-header-title {
	font-size:22px;
	margin-bottom:10px;
	text-align:center;
}
 
#adminCalendarWrap .fc-content .fc-state-default {
	border-color:#D5D5D5;
}
 
.fc-content .fc-corner-left a { margin-left:0px !important; border-color:transparent !important; }
.fc-content .fc-corner-left.recur_allDay_15 a { margin-left:-1px !important; border-color:transparent !important; }
 
#adminCalendarWrap .fc .fc-grid th { color:#333; font-weight:normal; font-size:11px; padding:5px 0px; }
#adminCalendarWrap .fc .fc-first th { color:#333; font-weight:normal; font-size:11px; padding:5px 0px; }
#frmEditEvents {
    height: 400px;
    overflow-y:scroll;
    overflow: -moz-scrollbars-vertical; 
} 
#frmEditEvents tr td { padding:5px; font-size:11px; color:#777; }
#frmEditEvents tr td strong { color:#333; }
#frmEditEvents input[type=text], #frmEditEvents textarea{
    width: 300px;
}

#frmNewCalendar { font-size:11px; color:#777; }

.fc-state-default a{cursor:pointer;text-decoration:none;background-color:none}
.fc-state-hover{background:none}

/** Event Tags */
div.tagsinput { background: #FFF; margin:0px 0px 0px 5px; width:300px !important; height:50px !important; overflow-y: auto;border:1px solid #ccc;border:none;padding:0 !important}
div.tagsinput span.tag { border: 1px solid #73A1D0; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 2px; text-decoration:none; background: #6E93B0; color: #FFFFFF; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:10px;}
div.tagsinput span.tag a { font-weight: bold; color: #FFFFFF; text-decoration:none; font-size: 10px;  } 
div.tagsinput input { width:60px; margin:0px; font-family: helvetica; font-size: 10px; border:1px solid transparent; padding:0px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; border:none; } 
.tags_clear { clear: both; width: 100%; height: 0px; }

div#upload_tags_input_tagsinput {width: 450px !important;}

.boxReturn {padding: 40px 0 10px 0}

div.tagsinput { display:inline-block;}
div.tagsinput span.tag{ background: #cbdeeb; color : #234E70; border-color: #6E93B0}
div.tagsinput span.tag a{color : #234E70}

/**
=======================
Recurring Events List
=======================
*/
#kcal_eventRepeat ol{
    margin: 0;
    padding: 0
}
#kcal_eventRepeat li{
    padding: 10px 5px;
    padding: 0.63rem 0.31rem;
    list-style-position: inside;
}
#kcal_eventRepeat li.alt{
    background-color: #f8f8f8;
}
#kcal_eventRepeat .ki{
    margin-left: 10px;
    margin-left: 0.63rem;
    display:inline-block;
    text-align:center;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background-color: #ffffff;
}
#kcal_eventRepeat li .kicon-pencil2:before{
    color: #0585B0;
    line-height: 2;
}
#kcal_eventRepeat li .kicon-bin:before{
    color: #cc0000;
    line-height: 2;
}
#kcal_eventRepeat .ki:hover{
    background-color: #d2d2d2;
}
#kcal_eventRepeat .recurrence-controls{
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-top: -3px;
}
/* 
================
Quickview Popup 
================
*/

.quickview-popup {
    position: fixed;
    z-index: 10;
    background: #000;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.quickview-popup > div {
    width: 560px;
    background: #FFF;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 125px;
    margin: 0 0 0 -200px;
    box-shadow: 0, 1px, 3px, rgba(0,0,0,0.3);
}

.quickview-popup .close-btn {
    font-size:28px;
    text-decoration:none;
    position:absolute;
    top: -10px;
    right: -8px;
    height:35px;
    width:35px;
    border-radius: 20px;
    background-color: #333333;
    text-align: center;
    color: #ffffff;
    line-height: 1.1;
}
.quickview-popup h2, .quickview-popup div.popup-content-wrapper, #poststuff .quickview-popup h2{
    padding: 20px;
    padding: 1.25rem;
}
.quickview-popup h2, #poststuff .quickview-popup h2{
    background-color: #90D8FC;
    margin-top: 0;
    margin-bottom: 0;
}
.quickview-popup#dlgDeleteEvent h2{
    background-color: #FA4B71;
}
.quickview-popup .close-btn i {
    margin: 0 0 0 -6px;
}
.widget + .quickview-popup + #dateCreatedModified {
    margin-top: 20px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }


.kcal-import-container{
  border: 1px solid #d8d8d8;
  margin-top: 40px;
  width: 98%;
}
.kcal-import-container h2{
  padding: 20px;
  font-size: 18px;
  background-color: #abe8fc;
  color: #286b82;
  margin: 0;
}
.kcal-import-container p{
  margin: 0;
  padding: 20px;
}
.kcal-import-container .kcal-import-actions{
  background-color: #ffffff;
}
.kcal-import-container .form-fields{
  padding: 10px 20px;
  border-top: 1px solid #e5e5e5;
}
.kcal-import-container .form-buttons{
  padding: 10px 20px;
  background-color: #e5e5e5;
  border-top: 1px solid #d8d8d8;
}
.kcal-import-container .form-fields label, .kcal-import-container .form-fields input[type="text"], .kcal-import-container .form-fields input[type="url"]{
  display: block;
  width: 100%;
}
.form-fields input[type="text"], .kcal-import-container .form-fields input[type="url"]{
  max-width: 400px;
  padding: 10px;
}
.kcal-import-container .form-fields input[type="file"]{
  border: 1px solid #d8d8d8;
  padding: 10px;
  max-width: 400px;
}
